<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Example of setting a specific package to DEBUG -->
    <!-- <logger name="com.thaipd.sbjpaprac" level="DEBUG"/> -->
</configuration>
